In [2]:
name_basics = "https://datasets.imdbws.com/name.basics.tsv.gz"
title_akas = "https://datasets.imdbws.com/title.akas.tsv.gz"
title_basics = 'https://datasets.imdbws.com/title.basics.tsv.gz'
title_crew = 'https://datasets.imdbws.com/title.crew.tsv.gz'
title_episode = 'https://datasets.imdbws.com/title.episode.tsv.gz'
title_principles = 'https://datasets.imdbws.com/title.principals.tsv.gz'
title_ratings = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

In [3]:
import pandas as pd

def read_in(name, max_rows=10000):
    #data_name_basics = pd.read_csv(name, error_bad_lines=False, nrows=10, sep='\t')
    if max_rows == 0:
        dataframe = pd.read_csv(name, on_bad_lines='error', sep='\t')
    else:
        dataframe = pd.read_csv(name, on_bad_lines='error', nrows=max_rows, sep='\t')
    return dataframe

df_title_basics = read_in(title_basics, max_rows=100)
df_title_ratings = read_in(title_ratings, max_rows=100)
#df_name_basics = read_in(name_basics)
#df_title_akas = read_in(title_akas)
#df_title_crew = read_in(title_crew)
#df_title_episode = read_in(title_episode)
#df_title_principles = read_in(title_principles)

In [4]:
print(len(df_title_basics), len(df_title_ratings))
df_title_basics.tail()

100 100

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
95,tt0000097,short,"Place de l'Opéra, First View","Place de l'Opéra, 1er aspect",0,1896,\N,\N,"Documentary,Short"
96,tt0000098,short,"Place de l'Opéra, Second View","Place de l'Opéra, 2e aspect",0,1896,\N,\N,"Documentary,Short"
97,tt0000099,short,Place de la Bastille,Place de la Bastille,0,1896,\N,\N,"Documentary,Short"
98,tt0000100,short,Place de la Concorde,Place de la Concorde,0,1896,\N,\N,"Documentary,Short"
99,tt0000101,short,Place du théâtre français,Place du théâtre français,0,1896,\N,\N,"Documentary,Short"

In [5]:
df_title_ratings.tail(50)

       tconst  averageRating  numVotes
50  tt0000052            4.3        96
51  tt0000053            2.7        18
52  tt0000054            4.8        34
53  tt0000055            3.6        30
54  tt0000056            3.1        22
55  tt0000057            4.8        34
56  tt0000058            4.7        33
57  tt0000059            3.5        27
58  tt0000060            7.5        86
59  tt0000061            4.5        24
60  tt0000062            6.4       192
61  tt0000063            3.4        28
62  tt0000064            3.2        29
63  tt0000065            3.4        29
64  tt0000066            3.3        29
65  tt0000067            5.7        62
66  tt0000068            3.7        31
67  tt0000069            4.9       438
68  tt0000070            6.4      2564
69  tt0000071            3.9        29
70  tt0000072            3.6        27
71  tt0000073            3.4        30
72  tt0000074            4.5        31
73  tt0000075            6.3      1850
74  tt0000076            4.5       519
75  tt0000077            4.4        35
76  tt0000078            3.8        76
77  tt0000079            4.7        35
78  tt0000080            3.9        31
79  tt0000081            4.0        32
80  tt0000082            4.7        49
81  tt0000083            4.5        32
82  tt0000084            4.3        30
83  tt0000085            4.5        33
84  tt0000086            4.1        33
85  tt0000087            4.5        37
86  tt0000088            4.1        32
87  tt0000089            6.2       970
88  tt0000090            3.9        31
89  tt0000091            6.7      3435
90  tt0000092            4.4        29
91  tt0000093            4.8        93
92  tt0000094            4.8        32
93  tt0000095            4.6        34
94  tt0000096            4.2        29
95  tt0000097            4.8        33
96  tt0000098            4.9        36
97  tt0000099            4.4        32
98  tt0000100            4.7        53
99  tt0000101            4.4        28

In [6]:
if False:
    print(df_name_basics.head())
    print(df_title_akas.head())
    print(df_title_crew.head())
    print(df_title_episode.head())
    print(df_title_principles.head())

In [7]:
df_ratings_rated = df_title_ratings[df_title_ratings["numVotes"] > 100]
df_ratings_rated.head(50)

       tconst  averageRating  numVotes
0   tt0000001            5.7      1905
1   tt0000002            5.9       255
2   tt0000003            6.5      1700
3   tt0000004            5.7       167
4   tt0000005            6.2      2520
5   tt0000006            5.2       172
6   tt0000007            5.4       784
7   tt0000008            5.4      2045
8   tt0000009            5.3       198
9   tt0000010            6.9      6888
10  tt0000011            5.3       353
11  tt0000012            7.4     11799
12  tt0000013            5.7      1822
13  tt0000014            7.1      5293
14  tt0000015            6.2      1018
15  tt0000016            5.9      1428
16  tt0000017            4.6       311
17  tt0000018            5.3       571
19  tt0000020            4.8       341
20  tt0000022            5.1      1056
21  tt0000023            5.7      1379
24  tt0000026            5.7      1487
25  tt0000027            5.6      1111
26  tt0000028            5.1      1029
27  tt0000029            5.9      3249
28  tt0000030            5.2       817
29  tt0000031            5.5       970
30  tt0000032            5.0       405
31  tt0000033            5.5       986
32  tt0000034            5.0       190
34  tt0000036            4.4       590
36  tt0000038            4.2       196
39  tt0000041            6.7      1758
46  tt0000048            4.8       189
60  tt0000062            6.4       192
67  tt0000069            4.9       438
68  tt0000070            6.4      2564
73  tt0000075            6.3      1850
74  tt0000076            4.5       519
87  tt0000089            6.2       970
89  tt0000091            6.7      3435

In [8]:
#print(len(df_title_basics))
#df_title_basics.nunique()

In [9]:
df_ratings_combined = df_title_basics.merge(df_ratings_rated, on='tconst')
df_ratings_combined.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,1905
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",5.9,255
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",6.5,1700
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",5.7,167
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",6.2,2520

In [10]:
averageNumberOfVotes = df_title_ratings['numVotes'].sum()
averageNumberOfVotes

67305

In [13]:
df_ratings_combined['ranking'] = df_ratings_combined['numVotes'] / averageNumberOfVotes * df_ratings_combined['averageRating']
#(numVotes /averageNumberOfVotes) * averageRating
df_ratings_combined = df_ratings_combined[['originalTitle','numVotes','averageRating','ranking']]
top_15 = df_ratings_combined.sort_values('ranking', ascending=False)[:15]
top_15

,originalTitle,numVotes,averageRating,ranking
11,L'arrivée d'un train à La Ciotat,11799,7.4,1.297268
9,La sortie de l'usine Lumière à Lyon,6888,6.9,0.706147
13,L'arroseur arrosé,5293,7.1,0.558358
40,Le manoir du diable,3435,6.7,0.341943
24,Repas de bébé,3249,5.9,0.284809
36,Démolition d'un mur,2564,6.4,0.243810
4,Blacksmith Scene,2520,6.2,0.232137
32,Bataille de neige,1758,6.7,0.175003
37,Escamotage d'une dame au théâtre Robert Houdin,1850,6.3,0.173167
2,Pauvre Pierrot,1700,6.5,0.164178
7,Edison Kinetoscopic Record of a Sneeze,2045,5.4,0.164074
0,Carmencita,1905,5.7,0.161333
12,Le débarquement du congrès de photographie à Lyon,1822,5.7,0.154304
21,Partie d'écarté,1487,5.7,0.125933
15,Barque sortant du port,1428,5.9,0.125179

In [16]:
top_15['originalTitle'].to_numpy()

array(["L'arrivée d'un train à La Ciotat",
       "La sortie de l'usine Lumière à Lyon", "L'arroseur arrosé",
       'Le manoir du diable', 'Repas de bébé', "Démolition d'un mur",
       'Blacksmith Scene', 'Bataille de neige',
       "Escamotage d'une dame au théâtre Robert Houdin", 'Pauvre Pierrot',
       'Edison Kinetoscopic Record of a Sneeze', 'Carmencita',
       'Le débarquement du congrès de photographie à Lyon',
       "Partie d'écarté", 'Barque sortant du port'], dtype=object)